/examples/basic/*.js
/examples/basic/*.js.map
/examples/basic/basic
/examples/tetris/*.js
/examples/tetris/*.js.map
/examples/tetris/block.pxi
/examples/tetris/tetris
/examples/triangle/*.js
/examples/triangle/*.js.map
/examples/triangle/triangle
/examples/texture/*.js
/examples/texture/*.js.map
/examples/texture/texture
